.accordion {
    overflow-y: auto;
    &__title {
        display: block;
        width: 100%;
        border: 0;
        background: transparent;
        text-align: left;
        border: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem 2rem;
        margin-bottom: 0;
        position: relative;
        h2 {
            margin-top: 0;
            margin-bottom: 0;
            color: #color01;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
    &__wrapper {
        overflow: hidden;
    }
    &__child {
        margin-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &__arrow {
        position: absolute;
        right: 1rem;
        top: 50%;
        display: block;
        transform: translateY(-50%) rotate(-45deg);
        transition: transform 0.2s ease;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 4px solid $black;
        border-bottom: 4px solid $black;
    }
    &.open .accordion__arrow {
        transform: translateY(-50%) rotate(45deg);
    }
}