.bt {
    padding: 0.75rem 2rem;
    color: $white;
    border: 0;
    background: $color01;
    transition: opacity 0.2s, background-color 0.4s;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    &:focus,
    &:hover {
        opacity: 0.9;
    }
    &.bt-good {
        background: $good;
    }
    &.bt-danger {
        background: $danger;
    }
}

.bt-close {
    .text {
        display: none;
    }
    .cross::before {
        content: "\00d7";
        font-size: 3rem;
    }
}

button:hover {
    cursor: pointer;
}

.bt-add {
    margin-top: 3rem;
    width: 100%;
}

.bt[disabled],
.bt-disabled {
    background-color: $gray;
    pointer-events: none;
}