form {
    input {
        width: 100%;
        max-width: 40ch;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        margin-bottom: 1rem;
    }
    textarea {
        width: 100%;
        max-width: 40ch;
        padding: 0.5rem;
        height: 5rem;
        max-height: 5rem;
        min-height: 5rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        margin-bottom: 1rem;
    }
    .error {
        color: $danger;
        margin-top: 0;
    }
    textarea,
    input {
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $lightGray;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $lightGray;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $lightGray;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $lightGray;
        }
    }
}